<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application android:label="商品键盘" android:icon="@drawable/ic_keyboard" android:theme="@style/NightTheme" android:allowBackup="false" android:fullBackupContent="false" android:dataExtractionRules="@xml/data_extraction_rules" android:supportsRtl="true">
        <activity android:name=".SetupActivity" android:windowSoftInputMode="adjustResize" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".CandidateEditorActivity" android:windowSoftInputMode="adjustResize" android:exported="false" />
        <service android:name=".ProductIme" android:label="商品键盘" android:permission="android.permission.BIND_INPUT_METHOD" android:exported="true">
            <intent-filter><action android:name="android.view.InputMethod" /></intent-filter>
            <meta-data android:name="android.view.im" android:resource="@xml/input_method" />
        </service>
    </application>
</manifest>
